body{
    transition: all 3s ease-in-out;
    transition: 2s;
    color: aliceblue;
    margin: 0%;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 40vh 60vh;
    grid-template-areas: 
    "last last"
    "tabela pie";
}

#last{
    grid-area: last;
    background-color: rgb(49, 49, 49);
}
#tabela{
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-left: 15px;
    grid-area: tabela;
    background-color: #1f1f1f;
}
#pie{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: pie;
    background-color: rgb(17, 18, 19);
}


p{
    
    box-shadow: 10px;
  text-shadow: 10px black;
    color: aliceblue;
}
.lab{
    width: 265px;
    height: 100px;
    border: 10px solid #1f1f1f
}