body{
    transition: all 3s ease-in-out;
    transition: 2s;
    color: aliceblue;
    margin: 0%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 40vh 60vh;
    grid-template-areas: 
    "last last"
    "tabela pie";
}

#last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: last;
    background-color: rgb(49, 49, 49);
}
#tabela{

    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-left: 15px;
    grid-area: tabela;
    background-color: #1f1f1f;
}
#pie{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: pie;
    background-color: rgb(17, 18, 19);
}


p{
    
    box-shadow: 10px;
  text-shadow: 10px black;
    color: aliceblue;
}
.lab{
    width: 265px;
    height: 100px;
    border: 10px solid #1f1f1f
}
td{
    border: black solid 4px;
}
.tabelka{
    border: black solid 4px;

    border-collapse: separate;
  border-spacing: 20px 30px;
    gap: 40px;
}

.bar{

    background-color: rgba(11, 116, 11, 0.658);

}

.boe{
    background-color: rgb(4, 43, 128);

}

.wlad{

    background-color: rgb(160, 0, 21);

}